@import "./../../global.scss";
.landing {
  background-color: white;
  display: flex;
  font-family: "Cairo", sans-serif;
  flex-wrap: wrap;
  .right {
    flex: 50%;
    padding-left: 50px;

    .landingPresentation {
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 3rem;
      gap: 2rem;
    }
    h1 {
      font-size: calc(2rem + 2vw);
      color: #baff29;
      margin: 0;
      line-height: 1.2;
    }
    h2 {
      font-size: calc(1rem + 1.5vw);
      margin: 0;
      // border: 2px solid red;
      padding: 0;
      line-height: 1.2;
    }
    .grey {
      color: #1a1b41;
    }
    .SeeMywork {
      padding: 8px 12px;
      border-radius: 5px;
      font-size: calc(1rem+ 0.75vw);
      margin: 0;
      background-color: white;
      color: #1a1b41;
      border-color: #baff29;
      margin-top: 1rem;
      line-height: 1.2;
      &:hover {
        background-color: rgb(186, 255, 41);
        color: #1a1b41;
        border-color: hsl(188, 43%, 18%);
      }
    }
    .contactIcons {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: calc(1rem + 1vw);
      padding-top: 50px;
    }
  }
  .left {
    flex: 50%;
    // background-color: azure;
    .myImage {
      display: flex;
      flex-direction: column;
      width: 50%;
      max-width: 150px;
      height: auto; // border: 2px solid red;
      .me {
        flex-direction: column;
        position: absolute;
        height: auto;
      }
    }
  }
}
@media (max-width: 990px) {
  .landing {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left {
      .myImage {
        // border: 2px solid red;
        height: 500px;
        align-items: center;
        .me {
          align-items: center;
          // border: 2px solid black;
          overflow-y: hidden;
        }
      }
    }
  }
}
